body {
    background-color: rgb(41, 59, 92);
}

.centered {
    text-align: center;
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: white;
}

input {
    font-family: fantasy;
    font-size: 2em;
    text-align: center;
    color: rgb(194, 80, 80);
    width: 250px;
    height: 50px;
    border: 1px solid black;
    box-sizing: border-box;
}

button {
    font-family: fantasy;
    background-color: rgb(61, 56, 56);
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 2px;
    cursor: pointer;
}

p {
    font-family: fantasy;
    font-size: 2em;
    color: black;
}